#carrousel {
	 display: block;
    flex-direction: row;
    align-items: content;
	margin-left: auto;
	margin-right: auto;
	color: #2f2f2f;
	background-color: #d0c8c0;
	position: relative;
    padding: 30px 0px;
    z-index: 0;
}

	#carrousel .breve__intro {
		padding-left: 16px;
		padding-right: 16px;
	}

	#carrousel .slider {
		overflow-y: hidden;
		position: relative;
		padding-left: 16px;
	}

	#carrousel .sliderWrapper {
		position: relative;
		overflow-x: scroll;
		text-align: center;
		scroll-behavior: smooth;
		padding-bottom: 20px;
		margin-bottom: -20px; /*Visually remove the horizotal scrollBar */
	}

@media (prefers-reduced-motion: reduce) {
	#carrousel .sliderWrapper {
		scroll-behavior: auto;
	}
}

#carrousel .breve__titre {
	font-size: 62px;
	letter-spacing: 0.3em;
	line-height: 28px;
	color: #2f2f2f;
	text-transform: uppercase;
    margin: 50px 0;
}

#carrousel .breve__chapo {
	font-size: 16px;
	line-height: 22px;
	max-width: 664px;
	color: #2f2f2f;
	padding: 80px 0px 40px 0px;
    font-family: 'Source sans Pro';
    font-style: italic;
    text-align: center;
    margin: auto;
}

#carrousel .listeLien {
	border-left: none;
	max-width: 1300px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: visible;
	white-space: nowrap;
	font-size: 0;
	line-height: 0;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

#carrousel .lien {
	width: 300px;
	padding-right: 20px;
	margin-right: 0;
	position: relative;
	display: inline-block;
	border-bottom: none;
	cursor: pointer;
}
	#carrousel .lien::after {
		content: "";
		position: absolute;
		height: 163px;
		bottom: 0;
		left: 0;
		right: 20px;
		background-image: linear-gradient(180deg, rgba(18,17,22,0.00) 6%, #ffffff 86%);
		z-index: 1;
	}

	#carrousel .lien__titre {
		font-size: 20px;
		letter-spacing: 0.4px;
		line-height: 24px;
		color: #2f2f2f;
		font-family: 'winterthurcondensedregular';
		position: absolute;
		position: absolute;
		width: 82%;
		bottom: 12px;
		left: 12px;
		right: 32px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		white-space: normal;
		z-index: 2;
		max-width: 100%;
		transition: transform 0.2s;
		margin-top: 0;
		margin-bottom: 0;
	}

	#carrousel .lien img {
		display: block;
		max-width: 100%;
        z-index: 1;
	}

#carrousel .navSlider {
	display: none; 
}

/*
	sliderMarks
*/
.sliderMarks {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.sliderMarks div {
	display: inline-block;
	vertical-align: top;
	width: 10px;
	height: 10px;
	margin-right: 8px;
	border-radius: 50%;
	border: 1px solid #3A3443;
}
	.sliderMarks div.active {
		background-color: #3A3443;
	}



@media (min-width: 500px) {

	#carrousel .sliderMarks {
		display: none;
	}

	/*
		
		nav-slider

	*/
	.navSlider {
		position: absolute;
		cursor: pointer;
		width: 50px;
		height: 50px;
		padding-top: 10px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		
		align-items: center;
		z-index: 4;
	}
		#carrousel .navSliderLeft {left: 0;}
		#carrousel .navSliderRight {right: 0;}

		#carrousel .slider.leftLocked .navSliderLeft,
		#carrousel .slider.leftLocked::before,
		#carrousel .slider.rightLocked .navSliderRight,
		#carrousel .slider.rightLocked::after{
			pointer-events: none;
			opacity: 0;
		}

		#carrousel .navSlider svg {
			width: 16px;
			height: 27px;
			margin-left: auto;
			display: block;
			margin-right: auto;
		}
}

@media (min-width: 768px) {
	#carrousel {
		padding-top: 48px;
	}

	#carrousel .navSlider {
		display: -webkit-flex; /* NEW */
		display: flex;
	}


	#carrousel .breve__titre {
		font-size: 30px;
		letter-spacing: 2.4px;
		font-weight: 400;
		text-align: center;
	}

	#carrousel .breve__chapo {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 32px;
	}

}

@media (min-width: 1100px) {
	#carrousel .navSlider svg {
			transition: transform 0.2s;
			transition: transform 0.2s, -webkit-transform 0.2s;
	}
	#carrousel .navSlider:hover svg {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}

@media (min-width: 1300px) {

	#carrousel .navSlider {
			width: 80px;
			height: 80px;
	}

	#carrousel .slider {
		padding-left: 0;
	}

	#carrousel .slider::before,
	#carrousel .slider::after {
		transition: opacity 0.2s;
		z-index: 3;
		position: absolute;
		content: "";
		top: 0;
		bottom: 0;
		width: 277px;
		pointer-events: none;
	}

	#carrousel .slider::before {
		left: 0;
		background: linear-gradient(to left, rgba(245, 240, 236,0) 0%,rgba(245, 240, 236,1) 90.25%);
	}

	#carrousel .slider::after {
		right: 0;
		background: linear-gradient(to right, rgba(245, 240, 236,0) 0%,rgba(245, 240, 236,1) 90.25%);
	}

	#carrousel .overflowSlider .lien:last-child {
		margin-right: 250px;
	}

	#carrousel .lien:hover .lien__titre {
		transform: translateY(-5px);
	}

}

html, body {margin: 0;}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}