/*------------------------SMARTPHONE---------------------------------*/
@media screen and (max-width: 719px) {

/*----------BASE-----------*/ 
    h1{
        font-size: 20px;
    }
.Titre-header h2{
        font-size: 22px;
    }
.hero-image-accueil h2{
        font-size: 22px;
    }
.logo-milano-pro img, .logo-milano-parti img{
        margin-bottom: 15%;
    }
.Titre-header {
        padding-bottom: 20%;
    }
/*---------NAVIGATION--------*/
 
#menuToggle
    {
      display: block;
      position: fixed;
      bottom: -20px;
      left: 20px;
      width: 100%;
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle a
    {
      text-decoration: none;
      color: #ffff;
      
      transition: color 0.3s ease;
    }
    
    #menuToggle a:hover
    {
      color: #bdac97;
    }
    
    #menuToggle input
    {
      display: block;
      width: 50px;
      height: 500px;
      cursor: pointer;
      opacity: 0; 
      -webkit-touch-callout: none;
    }
    
    #menuToggle span
    {
      display: block;
      width: 30px;
      height: 2px;
      margin-bottom: 6px;
      position: relative;
      top: 425px;
      background: #dedddd;
      border-radius: 1px;
    }
    #menu
    {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: -100px 0 0 -20px;
        padding: 20px 0px 60px 0px;
      
      background: #4c5949;
        opacity: 80%;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
     transform-origin: 0% 0%;
      transform: translate(0, 100%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
        ul #menu {
            padding-right: 40px;
        }
        #menuToggle input:checked ~ ul{
      transform: none;
    }
    
        .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
        .sticky + .texte {
        padding-top: 60px;
    }
       .dropdown .dropbtn{
             padding: 15% 0;
        }
        #menu li {
            font-size: 12px;
            padding-right: 0px;
            padding-top: 10%;
        }
        
        #menu .liste-icon {
            display: flex;
            flex-direction: row;
            margin: auto;
            padding-top: 4%;
        }
        
        .liste-icon i{
            padding: 0 20px;
            font-size: 24px;
        }
        #menu a, .dropdown .dropbtn {
        text-decoration: none;
        list-style: none;
        text-transform: uppercase;
        font-family: 'winterthurcondensedregular';
        letter-spacing: 0.3em;
        font-size: 36px;
    }
    
        #menu .dropdown .dropdown-content a {
            padding-right: 30px;
            font-size: 26px;
        }
/*-------HERO-IMAGE-----*/
    
    .hero-image-contact{
        filter:brightness(90%)
    }
    .hero-image-agence{
        filter: brightness(90%)
    }
     .hero-image-rea-architecture {
        filter: brightness(90%)
    }
    .hero-image-rea-design {
        filter: brightness(85%)
    }

/*-------------------FOOTER--------------------*/
footer {
        padding: 30px 60px;
    }
footer h4{
        font-size: 12px;
    }
footer p{
        font-size: 10px;
        padding-top: 30px;
    }
header{
        height: 100vh;
    }
   
/*---------CARROUSEL--------------*/

    
#carrousel .sliderMarks {
		display: none;
	}
.navSlider {
		position: absolute;
		cursor: pointer;
		width: 50px;
		height: 50px;
		padding-top: 10px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		
		align-items: center;
		z-index: 4;
	}
		#carrousel .navSliderLeft {left: 0;}
		#carrousel .navSliderRight {right: 0;}

		#carrousel .slider.leftLocked .navSliderLeft,
		#carrousel .slider.leftLocked::before,
		#carrousel .slider.rightLocked .navSliderRight,
		#carrousel .slider.rightLocked::after{
			pointer-events: none;
			opacity: 0;
		}

		#carrousel .navSlider svg {
			width: 16px;
			height: 27px;
			margin-left: auto;
			display: block;
			margin-right: auto;
		}
    /*--------------------PRESTA------------------*/
    
    h2.double{
        font-size:40px;
        margin-bottom: 5px;
        margin-left: -20px;
    }
    span.taille{
        font-size: 28px;
        margin-left: 90px;
    }
    .architecture h2{
       line-height: 0.47;
    }
    .design-espace h2{
        margin-left: 90px;
        line-height: 0.43;
    }
    .design-espace{
        margin: 100px 0 150px 0;
    }
    .texte-architecture{
        margin: -24px 100px 0px -10px;
        padding: 8%;
        border-width: 7px;
    }
    
    .texte-design-espace{
        margin: -24px 0px 0px 100px;
        padding: 60px 40px 50px 40px;
        border-width: 7px;
    }
    .architecture p, .design-espace p{
        font-size: 16px;
    }
    .architecture h3, .design-espace h3{
        font-size: 28px;
        padding-left: 20px;
    }
    span .crea-meuble{
        font-style: italic;
        text-align: center;
        font-size: 24px;
    }
/*---------------------REALISATIONS-----------------*/
    
    .breve__titre {
        font-size: 52px;
        line-height: 1;
    }
    
    .realisations .breve__chapo, .design-mobilier .breve__chapo {
        font-size: 16px;
        margin: 0 30px;
    }
    
/*---------------------L'AGENCE----------------------*/
    .agence {
        padding: 0 20px 0 20px;   
    }
    
    .agence h2{
        font-size: 34px;
    }
    .agence p {
        padding-bottom: 20px;
        margin: 0 50px;
        font-size: 20px;
    }
    #notre-agence{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .architecte,.designer, .MO{
        margin: 20px 40px;
        display: block;
        justify-content: center;
    }
    .architecte .description, .designer .description, .MO .description{
        display: block;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
        margin: inherit;
    }
    .architecte img, .designer img, .MO img {
        max-width: 400px;
        height: auto;
    }
    
    .architecte img:hover , .designer img:hover, .MO img:hover{
        background-color: #fff;
        opacity: 70%;
    }
    
    .designer h3, .architecte h3, .MO h3 {
        font-size: 28px;
        text-align: center;
    }
    .designer p, .architecte p, .MO p {
        font-size: 18px;
        text-align: center;
    }
    .designer .description .fab,.architecte .description .fab, .MO .description .fab {
       padding: 20px 20px 40px 0;
    }
    .designer .description .fab:hover,.architecte .description .fab:hover, .MO .description .fab:hover{
        color: #4c5949;
    }
.MO {
    margin-bottom: 50px;
    }
/*----------------------CONTACT----------------------*/

    .coordonnees {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    margin: 100px 0px 50px 0px;
}

    .formulaire{
        margin-bottom: 50px;
    }
    
    .coordonnees p {
    padding: 20px 10px;
}

    .formulaire, .adresse {
    display: block;
    justify-content: center;
    flex-direction: column;
    width: 100%
}
    .formulaire h2{
        margin-top: 50px;
        font-size: 26px;
    }
    .adresse h2{
        margin: 0px 0 20px 0;
        font-size: 26px;
    }
    form input {
        margin-top: 20px;
        width: 75%;
    }
    textarea, label{
        font-family: 'Source sans Pro';
        padding-left: 5px;
        width: 75%;
    }
    .bouton_ok button {
    background-color: #bdac97;
    border-color: #bdac97;
    border-style: solid;
    border-radius: 7px;
    width: 200px;
    padding: 10px 0;
    margin-top: 10px;
    color: #ffff;
    text-transform: uppercase;
    font-family: 'winterthurcondensedregular';
    letter-spacing: 0.3em;
    }
    .adresse iframe{
        margin-top: 20px;
        border-radius: inherit;
        width: 70%
    }
    
}

/*-------------------------SMARTPHONE 720PX-----------------------------*/
@media screen and (min-width: 720px) and (max-width: 840px) {
h1{
        font-size: 22px;
    }
.Titre-header h2{
        font-size: 26px;
    }
.hero-image-accueil h2{
        font-size: 26px;
    }
    .logo-milano-pro img, .logo-milano-parti img {
        margin-bottom: 15%;
    }
    .Titre-header {
        padding-bottom: 20%;
    }
/*-------HERO-IMAGE-----*/
    
    .hero-image-rea-architecture {
        filter: brightness(90%)
    }
    .hero-image-rea-design {
        filter: brightness(85%)
    }
    .hero-image-agence{
        filter: brightness(90%)
    }
.hero-image-contact{
        filter:brightness(90%)
    }

/*-------------------FOOTER--------------------*/
footer {
        padding: 30px 60px;
    }
footer h4{
        font-size: 12px;
    }
footer p{
        font-size: 10px;
        padding-top: 30px;
    }
header{
        height: 100vh;
    }
 
/*-----------CARROUSEL----------*/

    #carrousel {
		padding-top: 48px;
	}

	#carrousel .navSlider {
		display: -webkit-flex; /* NEW */
		display: flex;
	}

	#carrousel .navSlider svg {
			transition: transform 0.2s;
			transition: transform 0.2s, -webkit-transform 0.2s;
	}
	#carrousel .navSlider:hover svg {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
    }
    
/*---------NAVIGATION--------*/
 
#menuToggle
    {
      display: block;
      position: fixed;
      bottom: -20px;
      left: 20px;
      width: 100%;
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle a
    {
      text-decoration: none;
      color: #ffff;
      
      transition: color 0.3s ease;
    }
    
    #menuToggle a:hover
    {
      color: #bdac97;
    }
    
    #menuToggle input
    {
      display: block;
      width: 50px;
      height: 500px;
      cursor: pointer;
      opacity: 0; 
      -webkit-touch-callout: none;
    }
    
    #menuToggle span
    {
      display: block;
      width: 30px;
      height: 2px;
      margin-bottom: 6px;
      position: relative;
      top:340px;
      background: #dedddd;
      border-radius: 1px;
      
        z-index: 1;}
    #menu
    {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: -100px 0 0 -20px;
        padding: 20px 0px 60px 0px;
      
      background: #4c5949;
        opacity: 80%;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
    
      
     transform-origin: 0% 0%;
      transform: translate(0, 100%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
        ul #menu {
            padding-right: 40px;
        }
        #menuToggle input:checked ~ ul{
      transform: none;
    }
    
        .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
        .sticky + .texte {
        padding-top: 60px;
    }
       .dropdown .dropbtn{
             padding: 15% 0;
        }
        #menu li {
            font-size: 14px;
            padding-right: 0px;
            padding-top: 10%;
        }
        
        #menu .liste-icon {
            display: flex;
            flex-direction: row;
            margin: auto;
            padding-top: 4%;
        }
        
        .liste-icon i{
            padding: 0 20px;
            font-size: 24px;
        }
        #menu a, .dropdown .dropbtn {
        text-decoration: none;
        list-style: none;
        text-transform: uppercase;
        font-family: 'winterthurcondensedregular';
        letter-spacing: 0.3em;
        font-size: 36px;
    }
    
        #menu .dropdown .dropdown-content a {
            padding-right: 30px;
            font-size: 26px;
        }
/*--------------------PRESTA------------------*/
    
    h2.double{
        font-size:74px;
        margin-bottom: 2px;
        margin-left: -40px;
    }
    span.taille{
        font-size: 46px;
        margin-left: 110px;
    }
    .architecture h2{
       line-height: 0.43;
    }
    .design-espace h2{
        margin-left: 90px;
        line-height: 0.43;
    }
    .texte-architecture{
        margin: -24px 100px 0px -10px;
        padding: 40px 40px 50px 40px;
        border-width: 7px;
    }
    
    .texte-design-espace{
        margin: -24px 0px 0px 100px;
        padding: 60px 40px 50px 40px;
        border-width: 7px;
    }
    .architecture p, .design-espace p{
        font-size: 24px;
    }
    .architecture h3, .design-espace h3{
        font-size: 28px;
        padding-left: 20px;
    }
    span .crea-meuble{
        font-style: italic;
        text-align: center;
        font-size: 24px;
    }
/*---------------------REALISATIONS-----------------*/
    .breve__titre{
        font-size: 54px;
        line-height: 1;
    }
    .breve__chapo {
        font-size: 18px;
        margin: 0 60px;
    }
/*---------------------L'AGENCE----------------------*/
    .agence {
        padding: 0 20px 0 20px;
        
    }
    .agence h2{
        font-size: 42px;
    }
    .agence p {
        padding-bottom: 20px;
        margin: 0 50px;
        font-size: 24px;
    }
    #notre-agence{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .architecte,.designer, .MO{
        margin: 20px 40px;
        display: block;
        justify-content: center;
    }
    .architecte .description, .designer .description, .MO .description{
        display: block;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
        margin: inherit;
    }
    .architecte img, .designer img, .MO img {
        max-width: 60%;
        height: auto;
    }
    
    .architecte img:hover , .designer img:hover, .MO img:hover{
        background-color: #fff;
        opacity: 70%;
    }
    
    .designer h3, .architecte h3, .MO h3 {
        font-size: 28px;
        text-align: center;
    }
    .designer p, .architecte p, .MO p {
        font-size: 22px;
        text-align: center;
    }
    .designer .description .fab,.architecte .description .fab, .MO .description .fab {
       padding: 20px 20px 40px 0;
    }
    .designer .description .fab:hover,.architecte .description .fab:hover, .MO .description .fab:hover{
        color: #4c5949;
    }
.MO {
    margin-bottom: 50px;
    }
/*----------------------CONTACT----------------------*/


    .coordonnees {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    margin: 100px 0px 50px 0px;
}

    .formulaire{
        margin-bottom: 50px;
    }
    
    .coordonnees p {
    padding: 20px 10px;
}

    .formulaire, .adresse {
    display: block;
    justify-content: center;
    flex-direction: column;
    width: 100%
}
    .formulaire h2{
        margin-top: 50px;
        font-size: 26px;
    }
    .adresse h2{
        margin: 0px 0 20px 0;
        font-size: 26px;
    }
    form input {
        margin-top: 20px;
        width: 75%;
    }
    textarea, label{
        font-family: 'Source sans Pro';
        padding-left: 5px;
        width: 75%;
    }
    .bouton_ok button {
    background-color: #bdac97;
    border-color: #bdac97;
    border-style: solid;
    border-radius: 7px;
    width: 200px;
    padding: 10px 0;
    margin-top: 10px;
    color: #ffff;
    text-transform: uppercase;
    font-family: 'winterthurcondensedregular';
    letter-spacing: 0.3em;
    }
    .adresse iframe{
        margin-top: 20px;
        border-radius: inherit;
        width: 70%
    }
/*---------------CARROUSEL----------------*/

    .carrousel {
		padding-top: 48px;
	}

	.carrousel .navSlider {
		display: -webkit-flex; /* NEW */
		display: flex;
	}

	.carrousel .breve__titre {
		font-size: 38px;
		letter-spacing: 3em;
		font-weight: 400;
		text-align: center;
        padding-bottom: 30px;
	}
    .carrousel .breve__titre-espace{
        font-size: 38px;
		letter-spacing: 3em;
		font-weight: 400;
		text-align: center;
        padding-bottom: 30px;
    }

	.carrousel .breve__chapo {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 10px;
		line-height: 12px;
		margin-bottom: 32px;
        font-style: italic
	}
    	.carrousel .slider::before {
		left: 0;
		background: linear-gradient(to left, rgba(245, 240, 236,0) 0%,rgba(245, 240, 236,1) 90.25%);
	}

	.carrousel .slider::after {
		right: 0;
		background: linear-gradient(to right, rgba(245, 240, 236,0) 0%,rgba(245, 240, 236,1) 90.25%);
	}
}
/*-----------------------------------------------------------
@media (min-width: 840px) {
	.carrousel {
		padding-top: 48px;
	}

	.carrousel .navSlider {
		display: -webkit-flex;
		display: flex;
	}

	.carrousel .breve__titre {
		font-size: 58px;
		letter-spacing: 2.4px;
		font-weight: 400;
		text-align: center;
        padding-bottom: 50px;
	}
    .carrousel .breve__titre-espace{
        font-size: 58px;
		letter-spacing: 2.4px;
		font-weight: 400;
		text-align: center;
        padding-bottom: 50px;
    }

	.carrousel .breve__chapo {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 32px;
        font-style: italic
	}
  .carrousel .navSlider svg {
			transition: transform 0.2s;
			transition: transform 0.2s, -webkit-transform 0.2s;
        
	}
	.carrousel .navSlider:hover svg {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
        cursor: pointer;}
    
}
 
}----*/

/*------------------------------TELEPHONE (MIN 841px)-------------------------*/

@media screen and (min-width: 841px) and (max-width: 999px) {

    h1{
        font-size: 22px;
    }
.Titre-header h2{
        font-size: 32px;
    }
.hero-image-accueil h2{
        font-size: 32px;
    }
.architecture p, .design-espace p{
        font-size: 22px;
    }
    .logo-milano-pro img, .logo-milano-parti img{
        margin-bottom: 15%;
    }
    .Titre-header {
        padding-bottom: 20%;
    }
/*-------HERO-IMAGE-----*/
    
    .hero-image-rea-architecture {
        filter: brightness(90%)
    }
    .hero-image-rea-design {
        filter: brightness(85%)
    }
    .hero-image-agence{
        filter: brightness(90%)
    }
.hero-image-contact{
        filter:brightness(90%)
    }
 
/*-------------------FOOTER--------------------*/
footer {
        padding: 30px 60px;
    }
footer h4{
        font-size: 12px;
    }
footer p{
        font-size: 10px;
        padding-top: 30px;
    }
    
/*----------NAVIGATION 1-------

   #menuToggle
{
  display: block;
  position: fixed;
  bottom: -40px;
  left: 20px;
  width: 100%;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #ffff;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #bdac97;
}


#menuToggle input
{
  display: block;
  width: 50px;
  height: 1000px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 8px;
  position: relative;
bottom: -475px;
  background: #dedddd;
  border-radius: 1px;
  
    z-index: 1;}

#menu
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: -100px 0 0 -20px;
    padding: 20px 0px 60px 0px;
  
  background: #4c5949;
    opacity: 70%;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  
 transform-origin: 0% 0%;
  transform: translate(0, 100%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

    ul #menu {
        padding-right: 40px;
    }
    #menuToggle input:checked ~ ul{
  transform: none;
}

    .sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .texte {
    padding-top: 60px;
}
     #menu li{
         padding-top: 50px;
    }
    
    #menu .liste-icon {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        margin-left: 0;
    }
    
    .liste-icon i{
        padding: 0 20px;
        font-size: 30px;
        margin-left: 0;
    }
    #menu a, .dropdown .dropbtn {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    font-family: 'winterthurcondensedregular';
    letter-spacing: 0.3em;
    font-size: 36px;
}
    .dropdown .dropbtn{
        padding-top: 50px;
    }
.dropdown .dropbtn {
        padding-bottom: 50px;
    }
   .dropdown-content {
        margin-bottom: 30px;
       padding-top: 10px;
    }

     .dropdown-content a{
        padding-right: 50px;
        font-size: 26px;
    }
    
   #menu .dropdown .dropdown-content a {
        padding-right: 30px;
        padding-top: 10px;
        font-size: 30px;
    } ----*/
    /*---------NAVIGATION--------*/
 
    #menuToggle
    {
      display: block;
      position: fixed;
      bottom: -20px;
      left: 20px;
      width: 100%;
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle a
    {
      text-decoration: none;
      color: #ffff;
      
      transition: color 0.3s ease;
    }
    
    #menuToggle a:hover
    {
      color: #bdac97;
    }
    
    #menuToggle input
    {
      display: block;
      width: 50px;
      height: 500px;
      cursor: pointer;
      opacity: 0; 
      -webkit-touch-callout: none;
    }
    
    #menuToggle span
    {
      display: block;
      width: 30px;
      height: 2px;
      margin-bottom: 6px;
      position: relative;
      top: 375px;
      background: #dedddd;
      border-radius: 1px;}

    #menu
    {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: -100px 0 0 -20px;
        padding: 20px 0px 60px 0px;
      
      background: #4c5949;
        opacity: 80%;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
    
      
     transform-origin: 0% 0%;
      transform: translate(0, 100%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
        ul #menu {
            padding-right: 40px;
        }
        #menuToggle input:checked ~ ul{
      transform: none;
    }
    
        .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
        .sticky + .texte {
        padding-top: 60px;
    }
       .dropdown .dropbtn{
             padding: 15% 0;
        }
        #menu li {
            font-size: 18px;
            padding-right: 0px;
            padding-top: 10%;
        }
        
        #menu .liste-icon {
            display: flex;
            flex-direction: row;
            margin: auto;
            padding-top: 4%;
        }
        
        .liste-icon i{
            padding: 0 20px;
            font-size: 24px;
        }
        #menu a, .dropdown .dropbtn {
        text-decoration: none;
        list-style: none;
        text-transform: uppercase;
        font-family: 'winterthurcondensedregular';
        letter-spacing: 0.3em;
        font-size: 36px;
    }
    
        #menu .dropdown .dropdown-content a {
            padding-right: 30px;
            font-size: 26px;
        }
/*--------------------PRESTA------------------*/
    
    h2.double{
        font-size:84px;
        margin-left: -40px;
    }
    span.taille{
        font-size: 56px;
        margin-left: 110px;
    }
    .architecture h2{
       line-height: 0.43;
    }
    .design-espace h2{
        margin-left: 90px;
        line-height: 0.43;
    }
    .texte-architecture{
        margin: -24px 100px 0px -10px;
        padding: 40px 40px 50px 40px;
        border-width: 7px;
    }
    
    .texte-design-espace{
        margin: -24px 0px 0px 100px;
        padding: 60px 40px 50px 40px;
        border-width: 7px;
    }
    .architecture p, .design-espace p{
        font-size: 24px;
    }
    .architecture h3, .design-espace h3{
        font-size: 28px;
        padding-left: 20px;
    }
    span .crea-meuble{
        font-style: italic;
        text-align: center;
        font-size: 24px;
    }
/*---------------------REALISATIONS-----------------*/
    
    .breve__titre{
        font-size: 54px;
        line-height: 1;
        margin: 0 70px;
    }
    .breve__chapo {
        font-size: 20px;
        margin: auto;
        width: 55%;
        padding-top: 2%;

    }
/*---------------------L'AGENCE----------------------*/
    .agence {
        padding: 0 20px 0 20px;
        
    }
    .agence h2{
        font-size: 50px;
    }
    .agence p {
        padding-bottom: 20px;
        margin: 0 50px;
        font-size: 26px;
    }
    #notre-agence{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .architecte,.designer, .MO{
        margin: 20px 40px;
        display: block;
        justify-content: center;
    }
    .architecte .description, .designer .description, .MO .description{
        display: block;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
        margin: inherit;
    }
    .architecte img, .designer img, .MO img {
        max-width: 60%;
        height: auto;
    }
    
    .architecte img:hover , .designer img:hover, .MO img:hover{
        background-color: #fff;
        opacity: 70%;
    }
    
    .designer h3, .architecte h3, .MO h3 {
        font-size: 34px;
        text-align: center;
    }
    .designer p, .architecte p, .MO p {
        font-size: 22px;
        text-align: center;
    }
    .designer .description .fab,.architecte .description .fab, .MO .description .fab {
       padding: 20px 20px 40px 0;
    }
    .designer .description .fab:hover,.architecte .description .fab:hover, .MO .description .fab:hover{
        color: #4c5949;
    }
.MO {
    margin-bottom: 50px;
    }
/*----------------------CONTACT----------------------*/


    .coordonnees {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    margin: 100px 0px 50px 0px;
}

    .formulaire{
        margin-bottom: 50px;
    }
    
    .coordonnees p {
    padding: 20px 10px;
}

    .formulaire, .adresse {
    display: block;
    justify-content: center;
    flex-direction: column;
    width: 100%
}
    .formulaire h2{
        margin-top: 50px;
        font-size: 34px;
    }
    .adresse h2{
        margin: 0px 0 20px 0;
        font-size: 34px;
    }
    form input {
        margin-top: 20px;
        width: 60%;
    }
    textarea, label{
        font-family: 'Source sans Pro';
        padding-left: 5px;
        width: 60%;
    }
    .bouton_ok button {
    background-color: #bdac97;
    border-color: #bdac97;
    border-style: solid;
    border-radius: 7px;
    width: 200px;
    padding: 10px 0;
    margin-top: 10px;
    color: #ffff;
    text-transform: uppercase;
    font-family: 'winterthurcondensedregular';
    letter-spacing: 0.3em;
    }
    .adresse iframe{
        margin-top: 20px;
        border-radius: inherit;
        width: 70%
    }

}
/*---------------------------TABLETTE (min 1000px)-------------------------*/

@media screen and (min-width: 1000px) and (max-width: 1300px) {
 
/*-----------BASE-----------*/
    .accueil h2{
        font-size: 44px;
    }
    h1{
        font-size: 30px;
    }
    .presta-particulier h1, .presta-pro h1, .rea-architecture h1, .rea-design h1, .agence h1, .contact h1{
        font-size: 36px;
    }
    .Titre-header h2{
        font-size: 44px;
    }
   
    .architecte, .MO{
        margin: 80px 40px 40px 50px;
    }
    .designer {
        margin: 80px 50px 40px 40px;
    }
/*-------HERO-IMAGE-----*/
    
    .hero-image-rea-architecture {
        filter: brightness(90%)
    }
    .hero-image-rea-design {
        filter: brightness(85%)
    }
    .hero-image-agence{
        filter: brightness(90%)
    }
.hero-image-contact{
        filter:brightness(90%)
    }
 
/*-------------------FOOTER--------------------*/
footer {
        padding: 30px 60px;
    }
footer h4{
        font-size: 12px;
    }
footer p{
        font-size: 10px;
        padding-top: 30px;
    }
/*------------------------NAVIGATION----------------

   #menuToggle
{
  display: block;
  position: fixed;
  bottom: -40px;
  left: 20px;
  width: 100%;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #ffff;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #bdac97;
}

#menuToggle input
{
  display: block;
  width: 50px;
  height: 1000px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 8px;
  position: relative;
bottom: -480px;
  background: #dedddd;
  border-radius: 1px;
  
    z-index: 1;}

#menu
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: -100px 0 0 -20px;
    padding: 20px 0px 60px 0px;
  
  background: #4c5949;
    opacity: 70%;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  
 transform-origin: 0% 0%;
  transform: translate(0, 100%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

    ul #menu {
        padding-right: 40px;
    }
    #menuToggle input:checked ~ ul{
  transform: none;
}

    .sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .texte {
    padding-top: 60px;
}
    #menu li{
         padding-top: 50px;
    }
    
    
    #menu .liste-icon {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        margin-left: 0;
    }
    
    .liste-icon i{
        padding: 0 30px;
        font-size: 32px;
        margin-left: 0;
    }
    #menu a, .dropdown .dropbtn {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    font-family: 'winterthurcondensedregular';
    letter-spacing: 0.3em;
    font-size: 38px;
}
    .dropdown .dropbtn{
        padding-top: 50px;
    }

   .dropdown-content {
        margin-bottom: 30px;
       padding-top: 10px;
    }
    .dropdown .dropbtn {
        padding-bottom: 50px;
    }
    
    .dropdown-content a{
        padding-right: 50px;
        font-size: 26px;
    }
    
   #menu .dropdown .dropdown-content a {
        padding-right: 30px;
        padding-top: 10px;
        font-size: 32px;
    }    ----*/

    /*---------NAVIGATION--------*/
 
    #menuToggle
    {
      display: block;
      position: fixed;
      bottom: -20px;
      left: 20px;
      width: 100%;
      -webkit-user-select: none;
      user-select: none;
    }
    
    #menuToggle a
    {
      text-decoration: none;
      color: #ffff;
      
      transition: color 0.3s ease;
    }
    
    #menuToggle a:hover
    {
      color: #bdac97;
    }
    
    #menuToggle input
    {
      display: block;
      width: 50px;
      height: 500px;
      cursor: pointer;
      opacity: 0; 
      -webkit-touch-callout: none;
    }
    
    #menuToggle span
    {
      display: block;
      width: 30px;
      height: 2px;
      margin-bottom: 6px;
      position: relative;
      top: 430px;
      background: #dedddd;
      border-radius: 1px;
    }
    #menu
    {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: -100px 0 0 -20px;
        padding: 20px 0px 60px 0px;
      
      background: #4c5949;
        opacity: 80%;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
    
      
     transform-origin: 0% 0%;
      transform: translate(0, 100%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
        ul #menu {
            padding-right: 40px;
        }
        #menuToggle input:checked ~ ul{
      transform: none;
    }
    
        .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
        .sticky + .texte {
        padding-top: 60px;
    }
       .dropdown .dropbtn{
             padding: 15% 0;
        }
        #menu li {
            font-size: 18px;
            padding-right: 0px;
            padding-top: 10%;
        }
        
        #menu .liste-icon {
            display: flex;
            flex-direction: row;
            margin: auto;
            padding-top: 4%;
        }
        
        .liste-icon i{
            padding: 0 20px;
            font-size: 24px;
        }
        #menu a, .dropdown .dropbtn {
        text-decoration: none;
        list-style: none;
        text-transform: uppercase;
        font-family: 'winterthurcondensedregular';
        letter-spacing: 0.3em;
        font-size: 36px;
    }
    
        #menu .dropdown .dropdown-content a {
            padding-right: 30px;
            font-size: 26px;
        }
/*-------------CARROUSEL----------------*/
    
	.carrousel .navSlider {
			width: 80px;
			height: 80px;
	}

	.carrousel .slider {
		padding-left: 0;
	}

	.carrousel .slider::before,
	.carrousel .slider::after {
		transition: opacity 0.2s;
		z-index: 3;
		position: absolute;
		content: "";
		top: 0;
		bottom: 0;
		width: 277px;
		pointer-events: none;
	}

	.carrousel .overflowSlider .lien:last-child {
		margin-right: 250px;
	}

	.carrousel .lien:hover .lien__titre {
		transform: translateY(-5px);
	}

/*--------------------PRESTA------------------*/
    
    h2.double{
        font-size:84px;
        margin-left: -20px;
    }
    span.taille{
        font-size: 56px;
        margin-left: 110px;
    }
    .architecture h2{
       line-height: 0.43;
    }
    .design-espace h2{
        margin-left: 90px;
        line-height: 0.43;
    }
    .texte-architecture{
        margin: -24px 100px 0px -10px;
        padding: 40px 40px 50px 40px;
        border-width: 7px;
    }
    
    .texte-design-espace{
        margin: -24px 0px 0px 100px;
        padding: 60px 40px 50px 40px;
        border-width: 7px;
    }
    .architecture p, .design-espace p{
        font-size: 22px;
    }
    .architecture h3, .design-espace h3{
        font-size: 28px;
        padding-left: 20px;
    }
    span .crea-meuble{
        font-style: italic;
        text-align: center;
        font-size: 24px;
    }
/*---------------------REALISATIONS-----------------*/
    
    .breve__titre{
        font-size: 64px;
        line-height: 1;
        margin: 0 60px;
    }
    .breve__chapo {
        font-size: 20px;
        margin: auto;
        width: 60%;
        padding-top: 2%;
    }
/*---------------------L'AGENCE----------------------*/
    .agence {
        padding: 0 20px 0 20px;
        
    }
    .agence h2{
        font-size: 50px;
    }
    .agence p {
        padding-bottom: 20px;
        margin: 0 50px;
        font-size: 26px;
    }
    #notre-agence{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .architecte,.designer, .MO{
        margin: 20px 40px;
        display: block;
        justify-content: center;
    }
    .architecte .description, .designer .description, .MO .description{
        display: block;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
        margin: inherit;
    }
    .architecte img, .designer img, .MO img {
        max-width: 60%;
        height: auto;
    }
    
    .architecte img:hover , .designer img:hover, .MO img:hover{
        background-color: #fff;
        opacity: 70%;
    }
    
    .designer h3, .architecte h3, .MO h3 {
        font-size: 34px;
        text-align: center;
    }
    .designer p, .architecte p, .MO p {
        font-size: 22px;
        text-align: center;
    }
    .designer .description .fab,.architecte .description .fab, .MO .description .fab {
       padding: 20px 20px 40px 0;
    }
    .designer .description .fab:hover,.architecte .description .fab:hover, .MO .description .fab:hover{
        color: #4c5949;
    }
.MO {
    margin-bottom: 50px;
    }
/*----------------------CONTACT----------------------*/


    .coordonnees {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    margin: 100px 0px 50px 0px;
}

    .formulaire{
        margin-bottom: 50px;
    }
    
    .coordonnees p {
    padding: 20px 10px;
}

    .formulaire, .adresse {
    display: block;
    justify-content: center;
    flex-direction: column;
    width: 100%
}
    .formulaire h2{
        margin-top: 50px;
        font-size: 34px;
    }
    .adresse h2{
        margin: 0px 0 20px 0;
        font-size: 34px;
    }
    form input {
        margin-top: 20px;
        width: 50%;
    }
    textarea, label{
        font-family: 'Source sans Pro';
        padding-left: 5px;
        width: 50%;
    }
    .bouton_ok button {
    background-color: #bdac97;
    border-color: #bdac97;
    border-style: solid;
    border-radius: 7px;
    width: 200px;
    padding: 10px 0;
    margin-top: 10px;
    color: #ffff;
    text-transform: uppercase;
    font-family: 'winterthurcondensedregular';
    letter-spacing: 0.3em;
    }
    .adresse iframe{
        margin-top: 20px;
        border-radius: inherit;
        width: 70%
    }

}

/*----------------------- MEDIA 1150 À 1300---------------------*/
@media screen and (min-width: 1000px) and (max-width: 1300px) {
#menuToggle span
{
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 6px;
  position: relative;
  top: 460px;
  background: #dedddd;
  border-radius: 1px;}
}